name: doc
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true
on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          path: ./main
      - name: Setup Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pip' # caching pip dependencies
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pandoc
      - name: Install package
        run: |
          python -m pip install --progress-bar off --upgrade pip setuptools wheel
          python -m pip install --progress-bar off main/.[doc]
      - name: Display system information
        run: lapy-sys_info --developer
      - name: Build doc
        run: TZ=UTC sphinx-build ./main/doc ./doc-build/dev -W --keep-going
      - name: Upload documentation
        uses: actions/upload-artifact@v6
        with:
          name: doc-dev
          path: doc-build/dev !doc-build/dev/.doctrees

  deploy:
    if: github.event_name == 'push'
    needs: build
    timeout-minutes: 10
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        shell: bash
    steps:
      - name: Download documentation
        uses: actions/download-artifact@v7
        with:
          name: doc-dev
          path: ./doc-dev
      - name: Deploy dev documentation
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc-dev
          destination_dir: ./dev
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
